.ico_details_block{
	width: 100%;
	float: left;
	margin-top: 125px;
	display: flex;
	justify-content: center;
	position: relative;
}
.ico_det_img_1{
	position: absolute;
	width: auto;
	height: auto;
	top:0;
	left:11%;
	transform:translateY(-70%);
	opacity: 0.36;
}
.ico_det_img_2{
	position: absolute;
	width: auto;
	height: auto;
	bottom:0;
	left:9%;
	opacity: 0.16;
	transform:translateY(75%);
}
.ico_details_block__title{
	width: 100%;
	float: left;
	span{
		width: 100%;
	    float: left;
	    background-image: linear-gradient(to top, rgba(73, 137, 239, 0.8) 0%, rgba(135, 102, 251, 0.8) 100%);
	    color: #ffffff;
	    text-align: center;
	    font-family: "Arista Pro Trial";
	    font-size: 34px;
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	    text-transform: uppercase;
	    letter-spacing: 1.7px;
	}
}
.ico_details_block__top_content{
	width: 100%;
	float: left;
	padding:0 60px;
}
.ico_details_block__top_content__left_block{
	width: 54%;
	float: left;
	box-shadow: 0 0 34px 4px rgba(121, 143, 248, 0.22);
	border-radius: 20px;
	background-color: #ffffff;
	padding: 24px 20px 22px 20px;
	margin-top: 50px;
}
.ico_details_block__top_content__left_block__list{
	width: 100%;
	float: left;
	display: flex;
	flex-wrap: wrap;
	li{
		width: 50%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		img{
			width: auto;
		}
		h4{
			width: 100%;
			float: left;
			color: #477099;
			font-family: 'RR';
			font-size: 16px;
			font-weight: 400;
			/* Text style for "Total amou" */
			letter-spacing: 0.8px;
			margin-top: 15px;
			text-align:center;
		}
		h3{
			width: 100%;
			float: left;
			color: #477099;
			text-align:center;
			margin-top: 11px;
			font-family: 'RB';
			font-size: 18px;
			font-weight: 700;
			/* Text style for "100,000,00" */
			letter-spacing: 0.9px;
		}
	}
	li:nth-child(1){
		padding-bottom: 20px;
		border-bottom:1px solid #e5e5e5;
		padding-top: 10px;
	}
	li:nth-child(2){
		padding-bottom: 20px;
		border-bottom:1px solid #e5e5e5;
		border-left:1px solid #e5e5e5;
		padding-top: 10px;
	}
	li:nth-child(3){
		padding-top: 20px;
		padding-bottom: 10px;
	}
	li:nth-child(4){
		padding-top: 20px;
		border-left:1px solid #e5e5e5;
		padding-bottom: 10px;
	}
}
.ico_details_block__top_content__right_block{
	width: 46%;
	float: right;
	margin-top: 27px;
	display: flex;
	justify-content: flex-end;
	img{
		width: auto;
		height: auto;
	}
}
@media(max-width:991px){
	.ico_details_block__top_content__left_block{
		width: 100%;
	}
	.ico_details_block__top_content__right_block{
		width: 100%;
		justify-content: center;
	}
}
@media(max-width:768px){
	.ico_details_block{
		margin-top: 40px;
	}
}

@media(max-width:600px){
	.ico_details_block__title span{
		font-size: 20px;
	}
	.ico_details_block__top_content{
		padding: 0;
	}
	.ico_details_block__top_content__right_block img {
	    width: 50%;
	    height: 50%;
	}
	.faq_img_4{
		width: 30%;
	}
	.ico_det_img_1{
		width: 25%;
	}
	.ico_det_img_2{
		width: 20%;
	}
}