.tokens_block{
	width: 100%;
	float: left;
	display: flex;
	justify-content: center;
	margin-top: 160px;
	margin-bottom: 0px;
	position: relative;
}
.to_slider_bg_img{
	width: auto;
	height: auto;
	position: absolute;
	top:50%;
	right:7%;
	opacity: 0.57;
}
.tokens_block__title_block{
	width: 100%;
	float: left;
	margin-bottom: 20px;
	span{
		width: 100%;
	    float: left;
	    background-image: linear-gradient(to top, rgba(73, 137, 239, 0.8) 0%, rgba(135, 102, 251, 0.8) 100%);
	    color: #ffffff;
	    text-align: center;
	    font-family: "Arista Pro Trial";
	    font-size: 34px;
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	    text-transform: uppercase;
	    letter-spacing: 1.7px;
	}
}
.tokens_block__slider{
	width: 100%;
	float: left;
	button{
		display: none!important;
	}
}
.tokens_block__slider__card{
	display: flex!important;
	justify-content: center;
	align-items: center;
	height: 150px;
}
@media(max-width:991px){
	.tokens_block{
		margin-top: 100px;
	}
}

@media(max-width:600px){
	.tokens_block__title_block span{
		font-size: 20px;
	}
	.tokens_block__title_block{
		margin-bottom: 0;
	}
	.trading_block__predictions__slider_block__card__header__right_block__left_bottom, .trading_block__predictions__slider_block__card__header__right_block__right_bottom{
		justify-content: center;
	}
}